<div class="text-end mb-2">
  <button mat-raised-button class="add-btn m-auto" color="primary" (click)="addEvent()">Add
    Event</button>
</div>
<div class="mat-elevation-z8">
  <table [dataSource]="dataSource" mat-table class="full-width-table" matSort aria-label="Elements">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <!-- <td mat-cell *matCellDef="let row">{{row.eventEntryId}}</td> -->
      <td mat-cell *matCellDef="let row" style="cursor: pointer; color: blue; text-decoration: underline;"
        (click)="redirectToViewEvent(row.eventEntryId)">
        {{row.eventEntryId}}</td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Event Title</th>
      <td mat-cell *matCellDef="let row">{{row.title}}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Event Date</th>
      <td mat-cell *matCellDef="let row">{{row.eventDate}}</td>
    </ng-container>

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let row">
        <mat-icon style="cursor: pointer;" (click)="editEvent(row.eventEntryId)">edit</mat-icon>
        <mat-icon style="cursor: pointer;" (click)="deleteEvent(row.eventEntryId)">delete</mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="action1">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Images</th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button class="add-btn" color="primary" (click)="addImages(row.eventEntryId)">Add
          Images</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>