<div class="container-fluid page">
    <div class="d-flex page__box justify-content-between p-3 mt-2">
        Add Product Variant
    </div>
    <form [formGroup]="myForm" (ngSubmit)="onFormSubmit()">
        <div class="page__content shadow p-3 position-relative">
            <mat-form-field class="InputStyle">
                <mat-label>Item Title</mat-label>
                <input matInput formControlName="ItemTitle">
            </mat-form-field>
            <mat-form-field class="InputStyle">
                <mat-label>SKUI ID</mat-label>
                <input matInput formControlName="Srno">
            </mat-form-field>
            <mat-form-field class="InputStyle">
                <mat-label>BarCode No (EAN)</mat-label>
                <input matInput formControlName="BarCodeNo">
            </mat-form-field>
            <mat-form-field class="InputStyle">
                <mat-label>How To Use</mat-label>
                <input matInput formControlName="HowToUse">
            </mat-form-field>
            <mat-form-field class="InputStyle">
                <mat-label>Unit Volume</mat-label>
                <input matInput formControlName="UnitVolume">
            </mat-form-field>

            <mat-card class="mb-3">
                <mat-label>Thumbnail Images *</mat-label>
                <!-- <input class="d-block" type="file" formControlName="ThumbnailFile" (change)="onFileChange($event)"> -->
                <input class="d-block" type="file" formControlName="ThumbnailFile" (change)="onFileChange($event)">
                <div *ngIf="selectedMainImage" class="mt-2">
                    <img [src]="selectedMainImage" width="150px" alt="Thumbnail Image">
                </div>
            </mat-card>

            <mat-card class="mb-3">
                <mat-label>Product Image 1 *</mat-label>
                <input class="d-block" type="file" formControlName="MainImage1File"
                    (change)="onMain1FileChange($event)">
                <div *ngIf="selectedMainImage2" class="mt-2">
                    <img [src]="selectedMainImage2" width="150px" alt="MainImage">
                </div>
            </mat-card>
            <mat-card class="mb-3">
                <mat-label>Product Image 2 *</mat-label>
                <input class="d-block" type="file" formControlName="Image2File" (change)="onMain2FileChange($event)">
                <div *ngIf="selectedMainImage3" class="mt-2">
                    <img [src]="selectedMainImage3" width="150px" alt="MainImage2">
                </div>
            </mat-card>
            <mat-card class="mb-3">
                <mat-label>Product Image 3 *</mat-label>
                <input class="d-block" type="file" formControlName="Image3File" (change)="onMain3FileChange($event)">
                <div *ngIf="selectedMainImage3" class="mt-2">
                    <img [src]="selectedMainImage3" width="150px" alt="MainImage3">
                </div>
            </mat-card>
            <div mat-dialog-actions class="mt-3 text-center">
                <button mat-raised-button color="primary" class="me-3">Save</button>
                <!-- <button mat-raised-button color="warn" mat-dialog-close>Close</button> -->
            </div>
            <!-- <mat-form-field>
            </mat-form-field> -->
            <div class="page__content-data position-absolute text-center">

            </div>
        </div>
    </form>
</div>