<div class="container-fluid page">
    <div class="d-flex page__box justify-content-between p-3 mt-2">
        Orders List
        <!-- <button mat-raised-button class="add-btn" color="primary">Add User (+)</button> -->
    </div>
    <div>
        <mat-tab-group>
            <mat-tab label="New Orders (1)">
                <div class="page__content shadow p-3 mt-2 position-relative">
                    <app-order-table></app-order-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Confirmed Orders (1)">
                <div class="page__content shadow p-3 mt-2 position-relative">
                    <app-order-table></app-order-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Cancelled Orders (1)">
                <div class="page__content shadow p-3 mt-2 position-relative">
                    <app-order-table></app-order-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Refunded Orders (1)">
                <div class="page__content shadow p-3 mt-2 position-relative">
                    <app-order-table></app-order-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Deleted Orders (1)">
                <div class="page__content shadow p-3 mt-2 position-relative">
                    <app-order-table></app-order-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>