<div class="container-fluid page">
    <div class="d-flex page__box justify-content-between p-3 mt-2">
        Orders List
        <!-- <button mat-raised-button class="add-btn" color="primary">Add User (+)</button> -->
    </div>
    <div>
        <mat-tab-group>
            <mat-tab label="New Orders">
                <div class="page__content shadow p-3 mt-2 position-relative">
                    <app-new-order-table></app-new-order-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Processed Orders">
                <div class="page__content shadow p-3 mt-2 position-relative">
                    <app-process-order-table></app-process-order-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Confirmed Orders">
                <div class="page__content shadow p-3 mt-2 position-relative">
                    <app-confirm-order-table></app-confirm-order-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Shipped Orders">
                <div class="page__content shadow p-3 mt-2 position-relative">
                    <app-shipped-order-table></app-shipped-order-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Delivered Orders">
                <div class="page__content shadow p-3 mt-2 position-relative">
                    <app-delivered-order-table></app-delivered-order-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Cancelled Orders">
                <div class="page__content shadow p-3 mt-2 position-relative">
                    <app-canceled-order-table></app-canceled-order-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Refunded Orders">
                <div class="page__content shadow p-3 mt-2 position-relative">
                    <app-refund-order-table></app-refund-order-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Deleted Orders">
                <div class="page__content shadow p-3 mt-2 position-relative">
                    <app-deleted-order-table></app-deleted-order-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>