<div class="container-fluid page">
    <div class="d-flex page__box justify-content-between p-3 mt-2">
        Orders List
        <!-- <button mat-raised-button class="add-btn" color="primary">Add User (+)</button> -->
    </div>
    <div>
        <mat-tab-group>
            <mat-tab label="Brands">
                <div class="page__content shadow p-3 mt-2 position-relative">
                    <div class="text-end mb-2">
                        <button mat-raised-button class="add-btn m-auto" color="primary" (click)="Openpopup()">Add
                            Brand</button>
                    </div>
                    <app-brand-table></app-brand-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="References">
                <div class="page__content shadow p-3 mt-2 position-relative">
                    <div class="text-end mb-2">
                        <button mat-raised-button class="add-btn m-auto" color="primary" (click)="OpenReference()">Add
                            References</button>
                    </div>
                    <app-refernce-table></app-refernce-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="HexColor">
                <div class="page__content shadow p-3 mt-2 position-relative">
                    <div class="text-end mb-2">
                        <button mat-raised-button class="add-btn m-auto" color="primary" (click)="OpenHexColor()">Add
                            Hex Color</button>
                    </div>
                    <app-hexcolor-table></app-hexcolor-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Categories">
                <div class="page__content shadow p-3 mt-2 position-relative">
                    <div class="text-end mb-2">
                        <button mat-raised-button class="add-btn m-auto" color="primary" (click)="OpenCategory()">Add
                            New Category</button>
                    </div>
                    <app-hexcolor-table></app-hexcolor-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Sub-Categories">
                <div class="page__content shadow p-3 mt-2 position-relative">
                    <div class="text-end mb-2">
                        <button mat-raised-button class="add-btn m-auto" color="primary" (click)="OpenSubCategory()">Add
                            Sub Category</button>
                    </div>
                    <app-hexcolor-table></app-hexcolor-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Sliders">
                <div class="page__content shadow p-3 mt-2 position-relative">
                    <div class="text-end mb-2">
                        <button mat-raised-button class="add-btn m-auto" color="primary" (click)="OpenSliders()">Add
                            Slider</button>
                    </div>
                    <app-hexcolor-table></app-hexcolor-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>