<div class="container-fluid page">
    <div class="d-flex page__box justify-content-between p-3 mt-2">
        Master Data
        <!-- <button mat-raised-button class="add-btn" color="primary">Add User (+)</button> -->
    </div>
    <div>
        <mat-tab-group>
            <mat-tab label="Countries">
                <div class="page__content shadow p-3 mt-2 position-relative">

                    <app-countries-table></app-countries-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Cities">
                <div class="page__content shadow p-3 mt-2 position-relative">

                    <app-city-table></app-city-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Locations">
                <div class="page__content shadow p-3 mt-2 position-relative">

                    <app-location-table></app-location-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="References">
                <div class="page__content shadow p-3 mt-2 position-relative">
                    <app-refernce-table></app-refernce-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
            <!-- <mat-tab label="FAQs">
                <div class="page__content shadow p-3 mt-2 position-relative">

                    <app-faq-table></app-faq-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab> -->
            <!-- <mat-tab label="Events">
                <div class="page__content shadow p-3 mt-2 position-relative">

                    <app-event-table></app-event-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab> -->
            <mat-tab label="Tax Rates">
                <div class="page__content shadow p-3 mt-2 position-relative">

                    <app-tax-table></app-tax-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Brands">
                <div class="page__content shadow p-3 mt-2 position-relative">

                    <app-brand-table></app-brand-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Categories">
                <div class="page__content shadow p-3 mt-2 position-relative">

                    <app-category-table></app-category-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Sub-Categories">
                <div class="page__content shadow p-3 mt-2 position-relative">

                    <app-subcategory-table></app-subcategory-table>
                    <div class="page__content-data position-absolute text-center">
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>