<div class="mat-elevation-z8">
  <table [dataSource]="dataSource" mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- ['ItemEntryId', 'itemName', 'shortDescription', 'hasVariant', 'action'] -->
    <!-- Id Column -->
    <ng-container matColumnDef="ItemEntryId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Gift ID</th>
      <td mat-cell *matCellDef="let row">{{row.gftItmEntryId}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="itemName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Gift Name</th>
      <td mat-cell *matCellDef="let row">{{row.itemName}}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let row">
        <mat-icon style="cursor: pointer;" (click)="navigateToAddOrUpdateGift(row.gftItmEntryId)">edit</mat-icon>
        <mat-icon style="cursor: pointer;" (click)="deleteGift(row.gftItmEntryId)">delete</mat-icon>
        <mat-icon style="cursor: pointer;" (click)="redirectToViewGift(row.gftItmEntryId)">remove_red_eye</mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="action1">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Includes</th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button class="add-btn" color="primary" (click)="addIncludes(row.gftItmEntryId)">Add
          Includes</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef=" displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>