<form [formGroup]="myForm" (ngSubmit)="onFormSubmit()">
    <h1 mat-dialog-title>{{inputdata.title}}</h1>
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label> Category Name</mat-label>
            <input formControlName="catgName" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label> Description</mat-label>
            <textarea matInput formControlName="catDescription"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label> Meta Tags</mat-label>
            <input formControlName="metaTags" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label> Meta Property Url</mat-label>
            <input formControlName="metapropertyurl" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label> Meta Property Type</mat-label>
            <input formControlName="metapropertytype" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Meta Property Title</mat-label>
            <input formControlName="metapropertytitle" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Meta Property Description</mat-label>
            <input formControlName="metapropertydescription" matInput>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary">{{ inputdata.id ? 'Update' : 'Save' }}</button>
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    </div>
</form>