<form>
    <h1 mat-dialog-title>Add Categories</h1>
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Category List</mat-label>
            <select matNativeControl>
                <option value="" selected></option>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        </mat-form-field>
        <mat-form-field>
            <mat-label> Category Name</mat-label>
            <input formControlName="name" matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label> Meta Tags</mat-label>
            <input formControlName="name" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label> Meta Property Url</mat-label>
            <input formControlName="name" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Meta Property Title</mat-label>
            <input formControlName="name" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Meta Property Description</mat-label>
            <input formControlName="name" matInput>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary">Save</button>
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    </div>
</form>