<div class="container-fluid page">
    <div class="d-flex page__box justify-content-between p-3 mt-2">
        Product Detail
    </div>
    <div class="page__content shadow p-3 position-relative">
        <div *ngIf="product">
            <div class="row border-bottom pt-2">
                <div class="col-md-3">
                    <h5>Product Id</h5>
                    <p>{{product.itemEntryId}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Product Name</h5>
                    <p>{{product.itemName}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Category Id</h5>
                    <p>{{product.categoryId}}</p>
                </div>
                <div class="col-md-3">
                    <h5>SubCategory Id</h5>
                    <p>{{product.subCategoryId}}</p>
                </div>
            </div>
            <div class="row border-bottom pt-2">
                <div class="col-md-3">
                    <h5>Brand Id</h5>
                    <p>{{product.brndId}}</p>
                </div>

                <div class="col-md-3">
                    <h5>Unit Type</h5>
                    <p>{{product.unitType}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Unit Volume</h5>
                    <p>{{product.unitVolume}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Tax Id</h5>
                    <p>{{product.taxId}}</p>
                </div>
            </div>
            <div class="row border-bottom pt-2">

                <div class="col-md-3">
                    <h5>Has Dimension</h5>
                    <p>{{product.hasDiemension}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Batch Code</h5>
                    <p>{{product.batchCode}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Batch Info</h5>
                    <p>{{product.batchInfo}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Mfg At</h5>
                    <p>{{product.mfgAt}}</p>
                </div>
            </div>
            <div class="row border-bottom pt-2">
                <div class="col-md-3">
                    <h5>Mfg By</h5>
                    <p>{{product.mfgBy}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Mfg Date</h5>
                    <p>{{product.mfgDate}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Warranty In Month</h5>
                    <p>{{product.warrantyInMonth}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Remark</h5>
                    <p>{{product.remark}}</p>
                </div>
            </div>
            <div class="row border-bottom pt-2">
                <div class="col-md-3">
                    <h5>Vendor Info</h5>
                    <p>{{product.vendorInfo}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Policy</h5>
                    <p>{{product.policy}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Meta Tags</h5>
                    <p>{{product.metaTags}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Meta Property Url</h5>
                    <p>{{product.metapropertyurl}}</p>
                </div>
            </div>
            <div class="row border-bottom pt-2">
                <div class="col-md-3">
                    <h5>Meta Property Type</h5>
                    <p>{{product.metapropertytype}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Meta Property Title</h5>
                    <p>{{product.metapropertytitle}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Meta Property Description</h5>
                    <p>{{product.metapropertydescription}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Meta Property Type</h5>
                    <p>{{product.metapropertytype}}</p>
                </div>
            </div>
            <div class="col-md-12 border-bottom pt-2">
                <h5>Short Description</h5>
                <p>{{product.shortDescription}}</p>
            </div>
            <div class="col-md-12 border-bottom pt-2">
                <h5>Long Description</h5>
                <p>{{product.longDescription}}</p>
            </div>
            <div class="col-md-12 border-bottom pt-2">
                <h5>Benefits</h5>
                <p>{{product.benefits}}</p>
            </div>
            <div class="row border-bottom pt-2 pb-2">
                <div class="col-md-3">
                    <h5>Thumbnail Image</h5>
                    <img src="{{product.thumbnail}}" width="150px" alt="">
                </div>
                <!-- <div class="col-md-3">
                    <h5>Main Image 1</h5>
                    <img src="{{product.mainImage1}}" width="150px" alt="">
                </div>
                <div class="col-md-3">
                    <h5>Main Image 2</h5>
                    <img src="{{product.image2}}" width="150px" alt="">
                </div>
                <div class="col-md-3">
                    <h5>Main Image 3</h5>
                    <img src="{{product.image3}}" width="150px" alt="">
                </div> -->
            </div>
        </div>
        <!-- displayedColumns = ['vrntEntryId', 'barCodeNo', 'isAvailabile', 'isBuyable', 'availableStock', 'action']; -->
        <div class="mat-elevation-z8">
            <div class="d-flex page__box justify-content-between p-3 mt-2">
                Product Detail
                <button mat-raised-button class="add-btn" color="primary"
                    (click)="redirectToAnotherComponent(product.itemEntryId)">Add
                    Variant</button>
            </div>
            <table [dataSource]="dataSource" mat-table class="full-width-table" style="width: 100%;" matSort
                aria-label="Elements">
                <!-- ['ItemEntryId', 'itemName', 'shortDescription', 'hasVariant', 'action'] -->
                <!-- Id Column -->
                <ng-container matColumnDef="vrntEntryId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Variant Id</th>
                    <td mat-cell *matCellDef="let row">{{row.vrntEntryId}}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="itemTitle">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Item Title</th>
                    <td mat-cell *matCellDef="let row">{{row.itemTitle}}</td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="barCodeNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Bar Code No</th>
                    <td mat-cell *matCellDef="let row">{{row.barCodeNo}}</td>
                </ng-container>
                <!-- Name Column -->
                <!-- <ng-container matColumnDef="isAvailabile">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Available</th>
                    <td mat-cell *matCellDef="let row">{{row.isAvailabile}}</td>
                </ng-container>
                <ng-container matColumnDef="isBuyable">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Buyable</th>
                    <td mat-cell *matCellDef="let row">{{row.isBuyable}}</td>
                </ng-container> -->
                <!-- Name Column -->
                <ng-container matColumnDef="availableStock">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Available Stock</th>
                    <td mat-cell *matCellDef="let row">{{row.availableStock}}</td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                    <td mat-cell *matCellDef="let row">
                        <mat-icon style="cursor: pointer;"
                            (click)="navigateToAddOrUpdateProduct(product.itemEntryId,row.vrntEntryId)">edit</mat-icon>
                        <mat-icon style="cursor: pointer;"
                            (click)="deleteProductVariant(row.vrntEntryId)">delete</mat-icon>
                        <mat-icon style="cursor: pointer;"
                            (click)="redirectToVariantView(row.vrntEntryId)">remove_red_eye</mat-icon>
                    </td>
                </ng-container>
                <ng-container matColumnDef="action1">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Inventory</th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-raised-button class="add-btn" color="primary"
                            (click)="redirectToStock(row.vrntEntryId)">Add
                            Inventory</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef=" displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
            </mat-paginator>
        </div>
        <div class="page__content-data position-absolute text-center">
        </div>
    </div>
</div>