<div class="container-fluid page">
    <div class="d-flex page__box justify-content-between p-3 mt-2">
        Product Detail
    </div>
    <div class="page__content shadow p-3 position-relative">
        <div class="row">
            <div class="col-md-3">
                <h4>Item Id</h4>
                <p>20</p>
            </div>
            <div class="col-md-3">
                <h4>Item Id</h4>
                <p>20</p>
            </div>
            <div class="col-md-3">
                <h4>Item Id</h4>
                <p>20</p>
            </div>
            <div class="col-md-3">
                <h4>Item Id</h4>
                <p>20</p>
            </div>
            <div class="col-md-3">
                <h4>Item Id</h4>
                <p>20</p>
            </div>
            <div class="col-md-3">
                <h4>Item Id</h4>
                <p>20</p>
            </div>
        </div>
        <div class="page__content-data position-absolute text-center">
        </div>
    </div>
</div>