<!-- <mat-nav-list *ngIf="showNavbar">
  <div class="logo py-4">
    <img src="./assets/logo.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/orders">
    <mat-icon>dashboard</mat-icon> Orders
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/queries">
    <mat-icon>home</mat-icon> Queries
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/customers">
    <mat-icon>home</mat-icon> Customers
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/products">
    <mat-icon>store</mat-icon> Products
  </a>
</mat-nav-list> -->

<mat-nav-list *ngIf="showNavbar">
  <div class="logo py-4">
    <img src="./assets/logo.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/orders">
    <mat-icon>shopping_cart</mat-icon> Orders
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/queries">
    <mat-icon>search</mat-icon> Queries
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/customers">
    <mat-icon>person</mat-icon> Customers
  </a>

  <!-- Products menu with expansion panel -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>store</mat-icon> Products
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/products/productList">
        Product List
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/products/addProduct/0">
        Add Product
      </a>
      <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/products/addVariant">
        Add Product Variant
      </a> -->
      <!-- Add more submenus as needed -->
    </mat-nav-list>
  </mat-expansion-panel>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/uploads">
    <mat-icon>cloud_upload</mat-icon> Uploads
  </a>
  <h2 matSubheader class="mt-2">SETTING</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/masterData">
    <mat-icon>leaderboard</mat-icon> Master Data
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/EcomSequence">
    <mat-icon>timeline</mat-icon> Ecom Sequence
  </a>


</mat-nav-list>