<mat-nav-list *ngIf="showNavbar">
  <div class="logo py-4">
    <img src="./assets/logo.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/orders">
    <mat-icon>shopping_cart</mat-icon> Orders
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/queries">
    <mat-icon>search</mat-icon> Queries
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/customers">
    <mat-icon>person</mat-icon> Customers
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Subscription">
    <mat-icon>person</mat-icon> Subscription
  </a>

  <!-- Products menu with expansion panel -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>store</mat-icon> Products
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/products/productList">
        Product List
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/products/addProduct/0">
        Add Product
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/Featured">
        Featured Products
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/Popular">
        Popular Products
      </a>
    </mat-nav-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>store</mat-icon> Gifts
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/giftList">
        Gift List
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/addGift/0">
        Add Gift
      </a>
    </mat-nav-list>
  </mat-expansion-panel>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/faq">
    <mat-icon>person</mat-icon> FAQ
  </a>
  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/uploads">
    <mat-icon>cloud_upload</mat-icon> Uploads
  </a> -->
  <h2 matSubheader class="mt-2">SETTING</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/masterData">
    <mat-icon>leaderboard</mat-icon> Master Data
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/blogs">
    <mat-icon>leaderboard</mat-icon> Blogs
  </a>
  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/EcomSequence">
    <mat-icon>timeline</mat-icon> Ecom Sequence
  </a> -->


</mat-nav-list>