<form>
    <h1 mat-dialog-title>Add Categories</h1>
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label> Category Name</mat-label>
            <mat-select>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary">Save</button>
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    </div>
</form>