<div class="container-fluid page" *ngIf="order">
    <div class="d-flex page__box justify-content-between p-3 mt-2">
        <h5>Order Details</h5>
        <button mat-raised-button color="primary" *ngIf="order.ordrPymnt === null "
            (click)="openPaymentStatusModal(order.oid, $event.value, order.ordrPymnt.paymentType, order.ordrPymnt.txnId,order.ordrPymnt.txnAmount,order.ordrPymnt.txnMode,order.ordrPymnt.refNo)">COD
            Payment</button>
        <!-- <button mat-raised-button color="primary" (click)="updateOrderStatus()">Update Status</button> -->
        <!-- Button for Refund Payment -->
        <button mat-raised-button color="primary" *ngIf="order.ordrPymnt!== null && order.ordrPymnt.paymentStatus === 2"
            (click)="openPaymentStatusModal(order.oid, $event.value, order.ordrPymnt.paymentType, order.ordrPymnt.txnId,order.ordrPymnt.txnAmount,order.ordrPymnt.txnMode,order.ordrPymnt.refNo)">Refund
            Payment</button>
    </div>
    <div class="page__content shadow p-3 position-relative">
        <div>
            <div class="row border-bottom pt-2">
                <div class="col-md-3">
                    <h5>Order Id</h5>
                    <p>{{id}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Total Quantity</h5>
                    <p>{{order.productsQty}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Total</h5>
                    <p>{{order.subTotal}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Paid Amount</h5>
                    <p>{{order.paidAmount/100}}</p>
                </div>
            </div>
            <div class="row border-bottom pt-2">
                <div class="col-md-3">
                    <h5>Customer Id</h5>
                    <p>{{order.custInfo.uid}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Customer Name</h5>
                    <p>{{order.custInfo.firstName}} {{order.custInfo.lastName}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Phone Number</h5>
                    <p>{{order.custInfo.phone}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Email</h5>
                    <p>{{order.custInfo.email}}</p>
                </div>
                <!-- <div class="col-md-3">
                    <h5>Address 2</h5>
                    <p>{{order.custInfo.addressLine2}}</p>
                </div> -->
            </div>
            <h5>Order List</h5>
            <div class="row border-bottom pt-2 order-table">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Item Image</th>
                            <th>Item Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of order.ordrItms">
                            <td><img [src]="item.itmimg" alt="{{ item.itmname }}"
                                    style="max-width: 50px; max-height: 50px;"></td>
                            <td>{{ item.itmname }}</td>
                            <td>{{ item.price }}</td>
                            <td>{{ item.qty }}</td>
                            <td>{{ item.total }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="page__content-data position-absolute text-center">
        </div>
    </div>
</div>