<div class="container-fluid page">
    <div class="d-flex page__box justify-content-between p-3 mt-2">
        Order Details
    </div>
    <div class="page__content shadow p-3 position-relative">
        <div *ngIf="order">
            <div class="row border-bottom pt-2">
                <div class="col-md-3">
                    <h5>Order Id</h5>
                    <p>{{id}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Total Quantity</h5>
                    <p>{{order.productsQty}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Total</h5>
                    <p>{{order.subTotal}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Paid Amount</h5>
                    <p>{{order.paidAmount/100}}</p>
                </div>
            </div>
            <div class="row border-bottom pt-2">
                <div class="col-md-3">
                    <h5>Customer Id</h5>
                    <p>{{order.custInfo.custId}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Customer Name</h5>
                    <p>{{order.custInfo.firstName}}{{order.custInfo.lastName}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Phone Number</h5>
                    <p>{{order.custInfo.contactno}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Address 1</h5>
                    <p>{{order.custInfo.addressLine1}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Address 2</h5>
                    <p>{{order.custInfo.addressLine2}}</p>
                </div>
            </div>
            <h5>Order List</h5>
            <div class="row border-bottom pt-2 order-table">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Item Image</th>
                            <th>Item Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of order.ordrItms">
                            <td><img [src]="item.itmimg" alt="{{ item.itmname }}"
                                    style="max-width: 50px; max-height: 50px;"></td>
                            <td>{{ item.itmname }}</td>
                            <td>{{ item.price }}</td>
                            <td>{{ item.qty }}</td>
                            <td>{{ item.total }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="row border-bottom pt-2">

                <div class="col-md-3">
                    <h5>Has Dimension</h5>
                    <p>{{product.hasDiemension}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Batch Code</h5>
                    <p>{{product.batchCode}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Batch Info</h5>
                    <p>{{product.batchInfo}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Mfg At</h5>
                    <p>{{product.mfgAt}}</p>
                </div>
            </div>
            <div class="row border-bottom pt-2">
                <div class="col-md-3">
                    <h5>Mfg By</h5>
                    <p>{{product.mfgBy}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Mfg Date</h5>
                    <p>{{product.mfgDate}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Warranty In Month</h5>
                    <p>{{product.warrantyInMonth}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Remark</h5>
                    <p>{{product.remark}}</p>
                </div>
            </div>
            <div class="row border-bottom pt-2">
                <div class="col-md-3">
                    <h5>Vendor Info</h5>
                    <p>{{product.vendorInfo}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Policy</h5>
                    <p>{{product.policy}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Meta Tags</h5>
                    <p>{{product.metaTags}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Meta Property Url</h5>
                    <p>{{product.metapropertyurl}}</p>
                </div>
            </div>
            <div class="row border-bottom pt-2">
                <div class="col-md-3">
                    <h5>Meta Property Type</h5>
                    <p>{{product.metapropertytype}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Meta Property Title</h5>
                    <p>{{product.metapropertytitle}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Meta Property Description</h5>
                    <p>{{product.metapropertydescription}}</p>
                </div>
                <div class="col-md-3">
                    <h5>Meta Property Type</h5>
                    <p>{{product.metapropertytype}}</p>
                </div>
            </div>
            <div class="col-md-12 border-bottom pt-2">
                <h5>Short Description</h5>
                <p>{{product.shortDescription}}</p>
            </div>
            <div class="col-md-12 border-bottom pt-2">
                <h5>Long Description</h5>
                <p>{{product.longDescription}}</p>
            </div>
            <div class="col-md-12 border-bottom pt-2">
                <h5>Benefits</h5>
                <p>{{product.benefits}}</p>
            </div> -->
        </div>


        <div class="page__content-data position-absolute text-center">
        </div>
    </div>
</div>